.container {
  background-color: black;
  color: #ffffff;
  width: 20%;
  /* height: 92.4vh; */
  display: flex;
  margin-top: 40px;
}
.list {
  list-style: none;
  width: 90%;
  padding-left: 10%;
}
.list li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid grey;
}
.list li:hover {
  color: #f3b230;
}
.list a {
  color: white;
  text-decoration: none;
  width: 100%;
  margin-left: 10px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.list a:hover {
  color: #f3b230;
}
.active {
  color: #f28e1c;
  font-weight: bolder;
}

@media screen and (max-width: 700px) {
  .container {
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0;
    left: 0;
  }
}
