.container {
  background-color: black;
  color: #ffffff;
  width: 20%;
  /* height: 92.4vh; */
  display: flex;
  height: 100%;
}
.list {
  list-style: none;
  width: 90%;
}
.list li {
  margin: 0.2rem;
  padding: 0.5rem;

  display: flex;
  align-items: center;

  border-bottom: 1px solid grey;
}
.list li:hover {
  color: yellow;
}
.list a {
  color: white;
  text-decoration: none;

  padding: 0.3rem;
}
.list a:hover {
  color: yellow;
}
.active {
  color: yellow;
  font-weight: bolder;
}
