.button {
  background-color: #f3b230;
  padding: 0.5rem 1rem;

  border: none;
  border-radius: 5px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.button:hover {
  background-color: black;
  color: white;
}
.button2 {
  background-color: black;
  padding: 0.5rem 1rem;
  color: white;

  border: none;
  border-radius: 5px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.button2:hover {
  background-color: #28282b;
}
