.container {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 40px;
}
.heading {
  font-weight: bolder;

  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-bottom: 1px solid grey;
}
.heading h1 {
}
.heading a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .container {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .heading {
    align-items: center;
  }
}
